<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles/admin_page/calendar.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="calendar">
        <header class="calendar__header">
            <div class="calendar__month"></div>
            <div class="calendar__year"></div>
        </header>
        <div class="calendar__grid">
            <div class="calendar__day-names">
                <span class="calendar__day-name">Пн</span>
                <span class="calendar__day-name">Вт</span>
                <span class="calendar__day-name">Ср</span>
                <span class="calendar__day-name">Чт</span>
                <span class="calendar__day-name">Пт</span>
                <span class="calendar__day-name">Сб</span>
                <span class="calendar__day-name">Вс</span>
            </div>
        </div>
        <div class="calendar__day-numbers"></div>
    </div>

    <script src="/static/scripts/admin_page/calendar_script.js"></script>
</body>
</html>